/.DS_Store
/.vscode
/API_Requests
/Bootstrap
/CSS
/Flexbox
/HTML
/Javascript
/JuegoCartasXimena
/MediaQueries
/NPM
/PriceTableStarter
/SantiagdcPortfolio
/ScoreKeeper
/TemplatingDemo
/Testing
/ToDoList